@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    

}
body {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;

}

 
.top-bar {
    background-color: #F28947;
    position: relative;
}

.top-bar .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 24px;
    cursor: pointer;
}
.navigation-item {
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    color: white !important;
}

.dropdown-menu {
    border-top: 1px solid white !important;
    background-color: black !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 1px;


}
a {
    color: white !important;
}
.dropdown-item:hover {
    color: white;
    background-color: black;
}
.dropdown-item {
    font-size: 12px;
}
.navbar-dark .navbar-toggler {
    outline: none;
}

.hero-section {
    background-image: url('images/Hero.jpg');
    background-size: cover;
    background-position: center;
    height: 680px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    padding: 48px 32px 48px 32px;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-section .container {
    position: relative; 
    z-index: 2;
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
    transition: color 0.2s;
}

.navbar-nav .nav-item .nav-link:hover {
    color:#F28947;
}
.navbar-dark {
    
background-color: black;
}
.gap {
gap: 50px;
}
.icons {
    gap: 20px;
}
.btn-primary {
    background-color: #F28947;
    width: 135px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "Poppins", sans-serif;

    
    
}
.btn-tech:hover {
    background-color: #e6683c;
    color: white;
}
.btn-primary:hover {
    background-color: #e6683c;
    color: black;
}
.btn-primary:focus {
    background-color: #e6683c !important;
    outline: none !important;

}
.btn-primary:active {
    background-color: #e6683c !important;
    outline: none !important;

}
.form-control {
    background-color: none;
    border: none;
    color: white;
    outline: none;
    width: none;
    background-color: black;
}
.icon {
    display: inline-block;
    position: relative;
    width: 24px; /* Adjust as necessary */
    height: 24px; /* Adjust as necessary */
    transition:  0.3s ease;
}

.icon img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



/* .icon.tiktok:hover::before {
    background: linear-gradient(45deg, blue, purple);
    cursor: pointer;
}

.icon.youtube:hover::before {
    background: linear-gradient(45deg, red, darkred);
    cursor: pointer;

}

.icon.instagram:hover::before {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    cursor: pointer;

}

.icon.tiktok::before {
    -webkit-mask-image: url('images/Vector.svg');
    mask-image: url('images/Vector.svg');
} */

.icons {
    cursor: pointer;
}
.icon.youtube::before {
    -webkit-mask-image: url('images/Vector (1).svg');
    mask-image: url('images/Vector (1).svg');
}

.icon.instagram::before {
    -webkit-mask-image: url('images/Vector (2).svg');
    mask-image: url('images/Vector (2).svg');
}

.digital-career {
    font-size: 60px;
    line-height: 64px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.digital-text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 24px;
}
.btn-warning {
    margin-top: 64px;
    width: 129px;
    height: 40px;
    border-radius: 8px;
    background-color: #F28947
    ;
    border: none;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-family: 500;
    align-items
    : center;
    display: flex;
    justify-content: center;



}
.animations {
    background-color: #D3ACFF;
    border-radius: 16px;
    padding: 24px 0 24px 0;
    margin-top: 48px;
    gap: 24px;

    
}
.animate-text {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;

}
ul li {
    list-style: none;
}
.animate-gap {
    gap: 34px;
    margin-top: 24px;
} 
.programmes {
    
margin-top: 72px;
}
.anaton {
    font-size: 45px;
    line-height: 52px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
}
.transformative-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 16px;
}
body {
    background-color: #f5f5f5;
}
.manchester {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.custom-card {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-card .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: auto;
}

.custom-card .card-body {
    text-align: left;
}

option {
    background-color: #e2e6ec !important;
    color: black !important;
    width: 100% !important;
    padding: 20px !important;
    border-radius: 8px !important; 
}
option:hover {
    background-color: red !important;
    color: yellow !important;

}

.btn-tech {
    width: 296px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    background-color: #F28947;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;

}
.cards-body {
    padding: 16px;


}
.card-title {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 24px;
}
.card-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.new {
    background-color: #D3ACFF;
    padding: 24px, 48px, 24px, 48px;
    border-radius: 16px;
    margin-top: 72px;
    height: 162px;
    
    
}
.new-logo {
    margin-left: 104px;
    margin-top: 24px;
    
}
.h4 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;


}
.fully-funded {
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 16px;
    margin-top: 8px;

    
}
.custom-banner {
    background-color: #D3ACFF ;
    color: #000;
    padding: 24px 48px 24px 48px;
    margin-top: 72px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.new-badge {
    background-color: #E9FF78 ;
    color: #000;
    padding: 5px 10px;
    border-radius: 200px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 48px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    cursor: pointer;


}

.btn-learn-more {
    background-color: #F28947;

    
    color: black;
    border: none;
    padding: 10px 24px 10px 24px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 500;
    font-family:"Poppins", sans-serif; 
    display: flex;
    align-self: flex-end;
}

.btn-learn-more:hover {
    background-color: #e6683c;
    color: white;
}

.marketing-skill {
    margin-top: 8px;
    margin-left: 104px;
    font-size: 32px;
    font-family:"Poppins", sans-serif; 
    font-weight: 600;
    line-height: 40px;
}
.btn-danger {
    margin-bottom: 24px;
    width: 129px;
    height: 40px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6683c;
    color: black;
    
}

.application-text {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 16px;
    

}
.accessible {
    margin-top: 72px;
    padding: 0px, 0px, 24px, 0px;
    
}
.accessible h3 {
font-size: 45px;
font-weight: 400;
font-family: "Anton", sans-serif;
line-height: 52px;

}
.over-text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;


}

.horizontal {
    border: 3px solid #e6683c ;
    border-radius: 8px;
    /* width: 248px; */
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #343a40; 
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: #fff; 
}
.icons .icon img {
    width: 20px;
}
.number {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;


}
.minority {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;


}
.background-white {
    background-color: #FEF6F1;
    border-radius: 16px;
    padding: 48px;
    margin-top: 48px;
    padding-left: 34px;
}
.why-learn {
    font-size: 45px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    line-height: 52px;

}
.applied-learning {
    background-color: #F9CBAE;
    /* width: 328px;
    height: 158px; */
    border-radius: 16px;
    padding: 24px;
    
}
.applied {
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 28px;


}
.learning-skills {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Poppins", sans-serif;

}
.boxes {
    margin-top: 24px;
}
.your-career {
    font-size: 45px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    line-height: 52px;
    margin-top: 72px;
}
.necessary-text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 24px;

}
.video-img {
    margin-top: 72px;
}
.pruple-background {
    background-color: #D3ACFF;
    padding: 24px 0px 34px 0px;
    height: auto;
    border-radius: 16px;
    margin-top: 72px;
    

}
.proud {
    margin-top: 24px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 28px;


}

.icon-gap {
    gap: 96px;
    margin-top: 40px;
}
.graduates h3 {
    font-size: 45px;
    font-family: "Anton", sans-serif;
    font-family: 400;
    margin-top: 72px;
    line-height: 52px;


}
.graduate-back {
    background-color: #f0f4f7;
    padding: 16px;
    border-radius: 16px;
    /* width: 344px;
    height: 224px; */
    
}
.limit-text {
    font-size: 14px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    margin-top: 16px;

}
.wyk {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;


}

.top  {
    margin-top: 34px;
}
.not-sure {
    margin-top: 104px;

}
.highlight-text {
    font-size: 45px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    line-height: 52px;


}
.message-text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 24px;


}
.btn-contact-us:hover {
    background-color: #e6683c !important;
    color: white;
}
.btn-contact-us {
    margin-top: 32px;
    background-color: #F28947 !important;
    height: 40px;
    width: 127px;
    border-radius: 8px !important;
    border: none !important;
    color: black !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    

    
}
.btn-warning:hover {
background-color: #e6683c;
}
.form {
    background-color: #fef6f1;
    width: 592px;
    border-radius: 16px;
    padding: 24px;
    margin-top: 96px;

    
}
.get-touch {
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 40px;
}
.form-controls {
    background-color: #E2E6EC !important;
    outline: none !important;
    /* width: 260px; */
    height: 56px !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 12px 16px 12px 16px !important;
    

}
::placeholder {
    color: #8d98af !important;
    font-size: 16px !important;
    font-family: "Poppins", sans-serif !important;

}
.input:focus {
    outline: 5px solid #8d98af !important;
}
.form-name {
    margin-top: 32px;
}
.form-gap {
    gap: 24px;
}
.email-control {
    background-color:#E2E6EC ;
    width: 544px;
    height: 56px;
    padding: 12px 16px 12px 16px;
}
.for-email {
    margin-top: 32px;
}
.form-select {
    width: 544px;
    height: 56px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    background-color:#E2E6EC ;
    border: none;
    outline: none;
    color: #8d98af !important;
    font-size: 16px;


    

}


.submit:hover {
    background-color: #e6683c;
    color:black;
}
.submit {
    background-color: #F28947 !important;
    width: 99px !important;
    height: 40px !important;
    border-radius: 8px !important;
    border: none !important;
    padding: 10px 24px 10px 24px !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    margin-top: 32px;
    
}
.message-control {
    width: 100% !important;
    height: 240px !important;
    background-color: #E2E6EC !important;
    border: none !important;
    outline: none !important;
    padding: 12px 16px 12px 16px !important;
    
}
.color-required {
    color: #9e202b;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.red {
    color: #9e202b;
}
.same-text {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 24px;

}
.footer-top {
    margin-top: 64px;
}
.footer-section {
    background-color:#181818
    ;
    color: white;
    padding: 48px;
    margin-top: 96px;
}
.copy-right {
    font-size: 14px;
    margin-top: 52px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;


}
.info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.bold-text {
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
}
.small-text {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 24px;



}
.all-right {
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 24px;

}
.footer-list {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;

}
.font-weight-bold {
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;

}
.btn-learn-more:hover {
    color: black;
}
.btn-contact-us:hover {
    color: black !important;
}
.btn-tech:hover {
    color: black !important;
}
.us {
    margin-top: 40px;
}
.com {
    margin-top: 16px;
}
.social-icons {
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: whitesmoke;
}
.btn-danger {
    background-color: #F28947 !important;
    width: 135px !important;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #000 !important;
    font-family: "Poppins", sans-serif !important;
}
.btn-danger:hover {
    background-color: #e6683c !important;
    color: black !important;
}
.dropdown-menues {
    color: white !important;
    background-color: black !important;
}
.custom-bg {
    background-color: #f6ffc7;
    padding: 48px 32px;
    margin-top: 56px;
  }
  .custom-height {
    height: 568px;
  }
  .custom-bg {
    background-color: #fef6f1;
    margin-top: 24px;
  }
  .nav-bar {
    padding: 16px;
    background-color: #fef6f1;
  }
  .link {
    margin-right: 15px;
    color: #333;
  }
  .link.active {
    color: #f28947;
    text-decoration: underline;
  }
  .link:hover {
    text-decoration: underline;
  }
  .content-section {
    margin-top: 40px;
  }

.confidence {
    font-family: "Anton", sans-serif;
    font-size: 57px;
    margin-top: 128px;
    font-weight: 400;
    line-height: 64px;
}
.thrive-text {
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;

}
.nav-bar {
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.nav-bar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.nav-bar .btn {
    background-color:  #F28947;
    padding: 10px 24px 10px 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif ;
    font-weight: 500;
    border: none;
}
.nav-bar .btn:hover {
    background-color:  #e6683c;

    border: none;
}
.nav-links a:hover {
    text-decoration-color: #F28947;
    color: #F28947;
    font-weight: bold;
}

.content-section {
    padding: 30px;
    background-color:#fef6f1;
    border-radius: 10px;
}
.content-section img {
    max-width: 100%;
    border-radius: 10px;
}
.content-section h2 {
    color: #000;
    font-weight: bold;
}
.Benefits {
    font-family: "Anton", sans-serif;
    font-size: 45px;
    font-weight: 400;

}
.link {
    font-size: 14px;
    font-family: "Poppins", sans-serif ;
    font-weight: 700;

}
.fix-skill {
    font-size: 24px;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
    line-height: 32px;

}
.exist {
    font-size: 16px;
    font-family: "Poppins", sans-serif ;
    font-weight: 400;


}


.btn-light.active {
    background-color: #ffcc99;
    color: black;
}

.cardes {
    background-color:#FEF6F1 !important;
    border: none !important;
    border-radius: 16px !important;
    padding: 16px !important;
    width: 680px;
    height: 200px;
    
}

.card-titles {
    color: black;
    font-size: 22px;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif ;
    /* margin-top: 16px; */

}
.card-textes  {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif ;
    line-height: 24px;


    
}

.card-bodyes {
    display: flex;
    align-items: center;
    padding: 0px !important;
}
/* 
.text-section {
    margin-bottom: 60px;
} */

/* .img-fluid {
    max-width: 100px; 
    border-radius: 8px; 
} */
.hire-talent {
    font-size: 45px;
    font-weight: 400;
    font-family: "Anton", sans-serif;


}  
.btn-lights {
    background-color: #F9CBAE !important;
    border-radius: 16px !important;
    padding: 20px !important;
    width: 328px;
    height: 56px;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    font-size: 16px;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif ;


}
.btn-light {
    background-color: #F0F4F7 !important;
    border-radius: 16px !important;
    padding:20px !important;
    width: 328px;
    height: 56px;
    display: flex !important;
    justify-content: start !important ;
    align-items: center !important;
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Poppins", sans-serif ;

    

    
}
.btn-light:hover {
    background-color: #F9CBAE !important;
    
}
.the-hiring {
    font-size: 45px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    line-height: 52px;
}
/* .wrapper {
    position: relative;
}
.wrapper::after {
    position:absolute;
    content: url(images/yellow-circle.png);
    top: 0;
    left: 0;
}
*/
/* .position {
    position: relative;
} */
/* .position::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 1;

} */
.circle-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}
.circle {
    width: 100%;
    height: 100%;
    background-color: #E4FF6F;
    border-radius: 50%;
    position: absolute;
    left: -377px;
}
.text {
    position: absolute;
    top: 50%;
    left: -277px;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;

}
.circle-container::before {
    position: absolute;
    content: url(images/arrow-1.png);
    top: 167px;
    left: -390px;    
}


.circle-container-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    top: 25px;
    left: 91px;
}
.circle-box {
    width: 100%;
    height: 100%;
    background-color: #E4FF6F;
    border-radius: 50%;
    position: absolute;
    left: -377px;
}
.text-box {
    position: absolute;
    top: 50%;
    left: -277px;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    width: 310px;

}
.circle-container-box::before {
    position: absolute;
    content: url(images/arrow-2.png);
    top: -83px;
    left: -222px;    
}
.circle-container-sm {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    top: -500px;
    left: 457px;
}
.circle-box-sm {
    width: 100%;
    height: 100%;
    background-color: #E4FF6F;
    border-radius: 50%;
    position: absolute;
    left: -377px;
}
.text-box-sm {
    position: absolute;
    top: 50%;
    left: -277px;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    width: 356px;

}
.circle-container-sm::before {
    position: absolute;
    content: url(images/arrow-3.png);
    top: 0px;
    left: -194px;   
}

.circle-container-round {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    top: -508px;
    left: 650px;
}
.circle-box-round {
    width: 100%;
    height: 100%;
    background-color: #E4FF6F;
    border-radius: 50%;
    position: absolute;
    left: -377px;
}
.text-box-round {
    position: absolute;
    top: 50%;
    left: -277px;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    width: 356px;

}
.programmes {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    /* white-space: nowrap; */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.programme-card {
    flex: 0 0 auto;
    width: 328px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}
.programme-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.programme-card h3 {
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif ;
    line-height: 24px;

}
.programme-card p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif ;

}
.programme-card button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F28947
    ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.programme-card button:hover {
    background-color: #d94e1f;
}
.bottom {
    margin-bottom: -409px;
}
.large-box {
    background-color: #FEF6F1;
    padding: 24px 20px 24px 20px !important;
    border-radius: 16px;
    
    
}
.slider-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    gap: 24px;
  }

  .card-boxes {
    background-color: #f0f4f7;
    height: 168px;
    border-radius: 16px;
    padding: 24px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    min-width: 300px;
    flex-direction: row;

  }

  /* .card img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  } */
.card-sliders {
    overflow-x: auto;
    display: flex;
    padding: 20px;
    gap: 16px;
}
  .card .info {
    margin-left: 16px;
  }

  .card .info h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  .card .info p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-left: 24px !important;
    margin-bottom: 0;
  }
p{
    margin-bottom: 0 !important;
}
  .card .info .hired-by {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  .card .info .hired-by span {
    font-size: 16px;
    font-weight: 400;
    margin-right: 8px;
  }

  .card .info .hired-by img {
    height: 24px;
    width: auto;
  }

  .testimonial-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 10px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    margin-top: 44px;
  }
  .testimonial-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  .testimonial-card {
    flex: 0 0 auto;
    width: 344px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
  .testimonial-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .testimonial-text {
    margin-bottom: 15px;
  }
  .testimonial-author {
    font-style: italic;
  }
  .yellow-border {
    background-color: #E9FF78;
    border-radius: 16px;
    padding: 16px;
    
  }
  
  .yellow-border h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif ;
    line-height: 26px;

  }
  .hiring-text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif ;
    line-height: 24px;
    margin-top: 16px;

  }
  .btn-info {
    background-color: #F28947 !important;
    padding: 10px 24px 10px 24px !important;
    font-size: 14px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    border: none !important;
    width: 200px;
    height: 40px;
    
  }
  .shortage {
    font-size: 14px;
  }












































@media screen and (min-width: 991px) {
    .applied-learning {
        height: auto;

        width: auto;
    
    
    }
    .btn-tech {
        width: 100%;
    }
   
  }
  
  @media screen and (max-width: 991px) {
    .applied-learning {
        height: auto;
        margin: auto;
    }
    .why-learn{
        display: flex;
        justify-content: center;
    }
    .btn-tech {
        width: 100%;
    }
    .custom-banner {
        display: block;
    }
    .btn-learn-more {
        margin-top: 0px;
    }
    .icon-gap {
        gap: 45px;
        
    }
    .icon-gap img {
        width: 50px;
    }
    .graduate-back {
        margin: auto;
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    .form {
        width: 100%;
        height: auto;
    }
    .form-select {
        width: 100%;
    }
    .message-control {
        width: 100%;
    }
    .form-controls {
        width: 100%;
    }
    
    .close {
        visibility: hidden;
    }
   
    .btn-touch {
        margin-bottom: 30px;
         
    }
    

    
  }

  
@media screen and (max-width: 992px) {
    .applied-learning {
        /* width: 250px; */
        height: auto;
    
    
    }
   
   
  }
  @media (max-width: 600px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }
  

  

  